<h3>Upload File</h3>

<input type="file"  (change)="onFileSelected($event)" />
<input type="button" value="Process"  (click)="processFile()">

<div style="margin-top: 25px">
  <h3>Result</h3>
  <div>
    <p>{{result}}</p>
  </div>
</div>
